@use 'base';

body {
    background-color: base.$color-bakcground;
    color: base.$color-text;
    font-family: base.$font-basic;
    font-size: base.$fontsize-basic;
    @include base.flexCenter();
}
ul{
    display: flex;
    li{
        padding: base.$padding-basic
    }
}
button{
    @include base.mode-button();
}